backports.entry-points-selectable==1.1.1
cfgv==3.3.1
click==8.0.3
distlib==0.3.3
filelock==3.3.2
flake8==4.0.1
Flask==2.0.2
gunicorn==20.1.0
identify==2.3.5
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.6.1
nodeenv==1.6.0
platformdirs==2.4.0
pre-commit==2.15.0
pycodestyle==2.8.0
pyflakes==2.4.0
PyYAML==6.0
romkan==0.2.1
six==1.16.0
toml==0.10.2
virtualenv==20.10.0
Werkzeug==2.0.2
